.grid-all{
    display: grid;
    row-gap: 50px;
}


.grid-div1{
    display: grid;
    grid-template-columns: 56px 56px 56px;
    border-style: solid;

    column-gap: 200px;
    row-gap: 50px;

    padding: 10px;
    

}

.grid-div2{
    border-style: solid;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    
    grid-template-columns: 56px 56px;
    padding: 10px;

}

.grid-div3{
    border-style: solid;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    
    grid-template-columns: 56px 56px;
    padding: 10px;

}

.grid-items{
    padding: px;
    text-align: center;
    line-height: 300%;
    border-style: solid;
    color: green
    width: 50px;
    height: 50px;
}

.flexes{
    display: flex;
}